.webpage_description {
    white-space: pre-line;
}

.webpage_description div {
    height: 125px;
    overflow-y: scroll;
}

.webpage_description.expanded div {
    height: auto;
    overflow: visible;
}

.float-anchor {
    position: relative;
}

.floating-group {
    position: absolute;
    bottom: 0;
    right: 0;
    visibility: hidden;
}

.floating-group.visible {
    visibility: visible;
}

.nlp-suggestion {
    background-color: #ffcdcd;
}

table {
    table-layout: fixed;
}
table th,
table td {
    overflow: hidden;
}

table th:nth-child(1) {
    width: 10%;
}

table th:nth-child(2) {
    width: 20%;
}

table th:nth-child(3) {
    width: 30%;
}
