/* source https://github.com/gka/palettes */
.bg-0 {
    background-color: #6c757d !important;
}
.bg-1 {
    background-color: #7d7177 !important;
}
.bg-2 {
    background-color: #8c6d70 !important;
}
.bg-3 {
    background-color: #99686a !important;
}
.bg-4 {
    background-color: #a66264 !important;
}
.bg-5 {
    background-color: #b25c5d !important;
}
.bg-6 {
    background-color: #bd5557 !important;
}
.bg-7 {
    background-color: #c84c51 !important;
}
.bg-8 {
    background-color: #d2424b !important;
}
.bg-9 {
    background-color: #dc3545 !important;
}

.ta-left {
    text-align: left;
    margin: 0;
    padding: 0;
}
